.response-card {
    background-color: #EEEEEE;
    width: 100%;
    height: calc(100% - 100px);
    overflow-y: scroll;
    padding: 3%;
    margin: 1% 0% 1% 0%;
}

.response-layout {
    font-size: 1em;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 1rem;
    align-items: flex-start;
}

.response-layout > h3 {
    font-weight: bold;
}

p, h3 {
    margin: 0;
    font-size: 1rem;
    display: inline-block;
    margin: 0;
}

