.form-section {
    height: calc(100vh - 153px);
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: calc(100vw - 328px);
    border: 2px solid palevioletred;
}

label {
    align-self: flex-start;
}


.input-area {
    align-self: center;
    width: calc(100vw - 325px);
    height: calc(100vh - 114px);
}


.submit-btn {
    width: 70px;
    height: 30px;
    background-color: #2A5BD6;
    color: white;
    border: none;
    border-radius: 3px;
    align-self: flex-end;
}

.text-area {
    width: 100%;
    height: 100%;
}