form {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1em;

}

label {
    align-self: flex-start;
    font-weight: bold;
}



.submit-btn {
    width: 7em;
    height: 2.5em;
    background-color: #2A5BD6;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: normal;
    text-align: center;
    align-self: flex-end;
    margin-top: 5px;
    &:hover {
        cursor: pointer;

    }
}

textarea {
    width: calc(100% - 5px);
    height: 10rem;
}

@media (max-width:480px)  {
    .submit-btn {
        align-self: center;
        width: 6em;
        height: 2em;
    }
}