form {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1em;

}

label {
    align-self: flex-start;
    font-weight: bold;
}

.submit-btn {
    border-radius: 4px;
    width: 7em;
    height: 2.5em;
    background-color: #2A5BD6;
    color: white;
    border: none;
    font-size: normal;
    text-align: center;
    align-self: flex-end;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
    margin-top: 5px;
    transition: 150ms ease;
    transition-property: background-color, box-shadow, color;
    &:hover {
        cursor: pointer;
        background-color: #008060;
        color: #ffffff;

    }
    &:focus {
        background-color: #008060;
        color: #ffffff;
    }

    &:disabled {
        background-color: #698ce2;
        cursor: none;
        transition: none;
        transition-property: none;
    }
}


textarea {
    width: calc(100% - 5px);
    height: 10rem;
}

@media (max-width:480px)  {
    .submit-btn {
        align-self: center;
        width: 6em;
        height: 2em;
    }
}