.error-page {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    font-size: 2rem;
}

.error-page-img {
    width: 35%;
    height: 35%;
    margin: 1%;
    align-self: center;
}

.error-page-msg {
    font-size: 1rem;
}

.error-page-btn {
    padding: 1.5%;
    width: 15vw;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 1%;
    &:hover {
        background-color: white;
        color: black;
        border: 2px black solid;
    }

    &:focus {
        background-color: white;
        color: black;
        border: 2px black solid;
    }
}